# App Environment
APP_ENV= # "development" or "production"

# Ports
PORT= # Port for the api server to run on

# Jwt
JWT_SECRET= # JWT Secret for token creation
MAX_AGE= # Max Age for token

# Database
DATABASE_URL= # Database connection url

# Object Store
ABS_CONNECTION_URL= # Azure blob storage connection url
ABS_CONTAINER_NAME=  # Aure blob storage container name
ABS_SAS_TOKEN= # Azure blol storage SAS token for accessing container files

# Proxy
PROXY_TARGET_URL="https://<storage>.blob.core.windows.net/<container>" # This is the base url for the content's path in the azure container. After <container>, append the common base folder name if you are using (eg. builds, dist -> <container>/builds, <container>/dist) else leave it as it is.

# Client Url
CLIENT_URL= # Url for the frontend for cors policy

# Redirect Url
BASE_REDIRECT_URL="http://localhost:<port>/api/v1/auth/callback" # Base redirect url for the oauth providers.

# Github
GITHUB_CLIENT_ID=  # Github App Client Id
GITHUB_CLIENT_SECRET= # Github App Client Secret
GITHUB_APP_ID= # Github App Id
GITHUB_PRIVATE_KEY= # Github App Private Key

# Redis
REDIS_URL= # Redis connection url

# Kafka
KAFKA_URL= # Kafka connection url
KAFKA_USERNAME= # Kafka username for sasl authentication
KAFKA_PASSWORD= # Kafka password for sasl authentication
KAFKA_CA_CERT= # Kafka ca certificate for sasl authentication